<div class="details">
  <a href="<%= hotel["url"] %>"><%= hotelName %></a>
  <div class="meta">
    <span class="rating"><%= hotel["star_rating"] %></span>
    <span class ="star"></span>
    <span class="text">From
      <span class="prev-price"><%= hotel["former_price"] %></span>
      <span class="current-price"><%= hotel["current_price"] %></span>
    </span>
  </div>
</div>