<% for (var hotelName in countries[country][city]) { %>
  <% var hotel = countries[country][city][hotelName] %>
  <div class="details">
    <a href="<%= hotel["url"] %>"><%= hotelName %></a>
    <div class="meta">
      <span class="rating"><%= hotel["star_rating"] %></span>
      <span class ="star"></span>
      <span class="text">From
        <span class="prev-price"><%= hotel["former_price"] %></span>
        <span class="current-price"><%= hotel["current_price"] %></span>
      </span>
    </div>
  </div>
<% } %>
<a href="#">See all 898 hotels in London</a>
<span class="icon-arrow-right"></span>
