<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div class="container">
      <h2>Hotels.com - <span>wake up happy<span></h2>
      <p>
        With over <b>140,000 hotels</b> worldwide, <b>priced matched guaranteed</b> and <b>1.2 million</b> reviews, why look elsewhere for your next hotel booking.
      </p>
      <div class="strapline">Top Destinations</div>
        <% for (var country in countries) { %>
          <div class="panel">
            <% if (countries[country]["state"]) { %>       
              <% for (var stateName in countries[country]["state"]) { %>
                <% for (var state in countries[country]["state"][stateName]) { %>
                  <% for (var cityName in countries[country]["state"][stateName][state]) { %>
                    <div class="panel-head closed">
                      <h4>
                        <span class="icon-arrow"></span>
                        <span><%= cityName %>, <%= stateName %>, <%= country %></span>
                      </h4>                
                      <p> Over 1889 hotels</p>
                    </div>                            
                    <div class="panel-content">
                      <% include partials/content/states.ejs %>
                    </div>
                  <% } %>
                <% } %>
              <% } %>
            <% } else { %>
              <% for (var city in countries[country]["city"]) { %>           
                <div class="panel-head closed">
                  <h4>
                    <span class="icon-arrow"></span>
                    <span><%= city%>, <%= country %></span>
                  </h4>                
                  <p> Over 1889 hotels</p>
                </div>
                <div class="panel-content">
                  <% include partials/content/noStates.ejs %>
                </div>             
              <% } %>
          <% } %>
        </div> <!-- panel -->
      <% } %>
      <div class="offer-text">
        <a href="#">See all of our destination offers</a>
        <span class="icon-arrow-right"></span>
      </div>
    </div> <!-- container -->
    <script src="/reload/reload.js"></script>
    <script src="/js/hotels.js"></script>
  </body>
</html>
