<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <div class="container">
      <h2>Hotels.com - <span>wake up happy<span></h2>
      <p>
        With over <b>140,000 hotels</b> worldwide, <b>priced matched guaranteed</b> and <b>1.2 million</b> reviews, why look elsewhere for your next hotel booking.
      </p>
      <div class="strapline">Top Destinations</div>
        <% for (var country in countries) { %>
          <% for (var city in countries[country]) { %>
            <div class="panel">
              <div class="panel-head closed">
                <h4>
                  <span class="icon-arrow"></span>
                  <span><%= city%>, <%= country %></span>
                </h4>                
                <p> Over 1889 hotels</p>
              </div>
              <div class="panel-content">
                <% for (var hotel in countries[country][city]) { %>
                  <div class="details">
                    <a href="<%= countries[country][city][hotel]["url"] %>"><%= hotel %></a>
                    <div class="meta">
                      <span class="rating"><%= countries[country][city][hotel]["star_rating"] %></span>
                      <span class ="star"></span>
                      <span class="text">From
                        <span class="prev-price"><%= countries[country][city][hotel]["former_price"] %></span>
                        <span class="current-price"><%= countries[country][city][hotel]["current_price"] %></span>
                      </span>
                    </div>
                  </div>
                <% } %>
                <a href="#">See all 898 hotels in London</a>
                <span class="icon-arrow-right"></span>
              </div> <!-- panel-content -->
            </div> <!-- panel -->
          <% } %>
        <% } %>
      <div class="offer-text">
        <a href="#">See all of our destination offers</a>
        <span class="icon-arrow-right"></span>
      </div>
    </div> <!-- container -->
    <script src="/reload/reload.js"></script>
    <script src="/js/behaviour.js"></script>
  </body>
</html>
